version: "3.9"

services:
  backend:
    build: ./
    container_name: trading-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    ports:
      - "4000:4000"

  mongo:
    image: mongo:6
    container_name: trading-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    container_name: trading-redis
    restart: always
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: trading-nginx
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  mongo_data:
